<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49065652506-5b5s2o0map4ng09v5iic6a48g7kt8aln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49065652506-5b5s2o0map4ng09v5iic6a48g7kt8aln</string>
	<key>API_KEY</key>
	<string>Pass your API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>49065652506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-d.Store</string>
	<key>PROJECT_ID</key>
	<string>store-e96cd</string>
	<key>STORAGE_BUCKET</key>
	<string>store-e96cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:49065652506:ios:77ef07061a170a31dd3ca3</string>
	<key>DATABASE_URL</key>
	<string>https://store-e96cd.firebaseio.com</string>
</dict>
</plist>
